<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ariel.actiongroups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="ariel.actiongroups.permission.C2D_MESSAGE" />

    <permission
        android:name="ariel.actiongroups.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- -Main activity -->
        <activity android:name=".main.leader.courses.creator.CourseCreationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".main.common.challenges.challengenavigator.view.ChallengeNavigationActivity" />
        <activity android:name=".main.leader.challenges.manager.view.ChallengeEditorActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GroupListActivity" />
        <activity android:name=".main.common.home_page.HomePage" />
        <activity android:name=".main.common.groups.groupdetails.GroupDetailsActivity" />
        <activity android:name=".main.leader.groups.creator.view.GroupCreatorActivity" />
        <activity android:name=".main.common.utils.viewpagerutils.ViewPagerActivity" />
        <activity android:name=".main.leader.courses.manager.singlecourse.view.CourseManagerActivity" />

        <receiver
            android:name=".main.common.backend.PushNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ariel.actiongroups" />
            </intent-filter>
        </receiver>

        <service
            android:name=".main.common.backend.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".main.common.courses.allcoursesoverview.view.AllCoursesOverviewActivity" />
        <activity android:name=".main.common.courses.coursedetails.view.CourseDetailsActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GenericGroupListActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GroupListActivityForResult" />

        <service
            android:name=".main.common.utils.services.ServiceExample"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".main.common.courses.states.view.GatherPaymentActivity"></activity>
    </application>

</manifest>