<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ariel.actiongroups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="ariel.actiongroups.permission.C2D_MESSAGE" />

    <permission
        android:name="ariel.actiongroups.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- -Main activity -->
        <activity android:name=".main.leader.course.creator.view.CourseCreationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".main.common.challenges.challenge_navigator.view.ChallengeNavigationActivity" />
        <activity android:name=".main.leader.challenges.creator.view.CreateChallengeActivity" />
        <activity android:name=".main.common.groups.groups_list.view.GroupListActivity" />
        <activity android:name=".main.common.home_page.HomePage" />
        <activity android:name=".main.common.groups.group_info.GroupInfoActivity" />
        <activity android:name=".main.leader.groups.creator.view.GroupCreatorActivity" />
        <activity android:name=".main.common.utils.abstractions.ViewPagerActivity" />
        <activity android:name=".main.leader.course.creator.view.CourseOverviewActivity" />

        <receiver
            android:name=".main.common.backend.PushNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ariel.actiongroups" />
            </intent-filter>
        </receiver>

        <service
            android:name=".main.common.backend.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".main.leader.course.manager.all_courses_overview.AllCoursesOverviewActivity" />
        <activity android:name=".main.leader.course.manager.single_course_details.view.SingleCourseDetails"></activity>
    </application>

</manifest>