<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ariel.actiongroups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="ariel.actiongroups.permission.C2D_MESSAGE" />

    <permission
        android:name="ariel.actiongroups.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".main.common.app.ActionGroupsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>"/>

        <!-- -Main activity -->
        <activity android:name=".main.leader.courses.manager.singlecourse.view.CourseManagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />

            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".main.common.courses.states.challengenavigator.view.ChallengeNavigationActivity" />
        <activity android:name=".main.leader.challenges.manager.view.ChallengeEditorActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GroupListActivity" />
        <activity android:name=".main.common.home_page.HomePage" />
        <activity android:name=".main.common.groups.groupdetails.GroupDetailsActivity" />
        <activity android:name=".main.leader.groups.creator.view.GroupCreatorActivity" />
        <activity android:name=".main.common.utils.viewpagerutils.ViewPagerActivity" />

        <receiver
            android:name=".main.common.utils.backendutils.PushNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ariel.actiongroups" />
            </intent-filter>
        </receiver>

        <service
            android:name=".main.common.utils.backendutils.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".main.common.courses.allcoursesoverview.view.AllCoursesOverviewActivity" />
        <activity android:name=".main.common.courses.coursedetails.view.CourseDetailsActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GenericGroupListActivity" />
        <activity android:name=".main.common.groups.groupslist.view.GroupListActivityForResult" />

        <service
            android:name=".main.common.utils.testservice.TestServiceExample"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".main.common.courses.states.gatherpayment.view.GatherPaymentActivity" />
        <activity android:name=".main.common.courses.search.view.SearchCoursesActivity" />
        <activity android:name=".main.common.courses.coursepresentation.CoursePresentationActivity" />

        <service
            android:name=".main.leader.courses.manager.singlecourse.services.CourseUploadService"
            android:exported="false" />
    </application>

</manifest>

<!--w8kalUVRqreMNvD/+lyVIBsnBrQ=-->
<!--lWeBknoD5jFekXiq589Wb00Z57I=-->
<!--2jmj7l5rSw0yVB/vlWAYkk/YBwk=-->